extends layout

block content
  h1= title
  p Welcome to #{title}
  p Merhaba Test Ediyoruz
  p Testler Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque cupiditate dolor, eaque esse expedita harum ipsum mollitia nihil numquam officiis, quos, totam vel? Iste molestias mollitia nesciunt quia quisquam?Test Test
